<div>
    <h2>Chat Chat Chat</h2>
    <hr/>
    <div>
        <label for="entrada">Escribí algo:</label>
        <input type="text" id="entrada" name="entrada" />
    </div>
    <div>
        <h3>Usuarios online: <span id="cantidadOnline"></span></h3>
        <ul id="usuariosOnline"></ul>
    </div>
    <hr/>
    <div>
        <h3>Mensajes: </h3>
        <div id="mensajes"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>